@model EnglishForCoachesWeb.Areas.Admin.Models.MatchTheWordCreateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-12">
            <h1 class="page-heading">
                <a href="@Url.Action("Index", "Subtemas", new {id = @Model.bloque.SubTema.TemaId })">
                    @Model.bloque.SubTema.Tema.Descripcion
                </a>
                / <a href="@Url.Action("Index", "Bloques", new {id = @Model.bloque.SubTema.SubTemaId })">
    @Model.bloque.SubTema.Descripcion
</a> /  @Model.bloque.Descripcion
            </h1>
            <h3>
                Nuevo ejercicio
            </h3>
        </div>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content content-narrow">

    @using (Html.BeginForm("Create", "MatchTheWords", FormMethod.Post, new { @class = "form-horizontal push-10-t" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.HiddenFor(model => model.MatchTheWord.SubTemaId)
        @Html.HiddenFor(model => model.MatchTheWord.TipoEjercicioId)
        @Html.HiddenFor(model => model.MatchTheWord.AreaId)
        @Html.HiddenFor(model => model.MatchTheWord.BloqueId)

        <div class="block">
            <div class="block-content block-content-full">



                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="form-material">
                            @Html.LabelFor(model => model.MatchTheWord.Pregunta, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.MatchTheWord.Pregunta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MatchTheWord.Pregunta, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-material">
                            @Html.LabelFor(model => model.MatchTheWord.Respuesta, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.MatchTheWord.Respuesta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MatchTheWord.Respuesta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

             

               

            </div>
        </div>
        <div class="block-content block-content-full">
            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <input type="submit" name="command" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <h3>
        Listado ejercicios
    </h3>

    <div class="block">
        <div class="block-content">
            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th>
                            Descripción
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.bloque.MatchTheWords)
                    {
                        <tr>
                            <td>
                                @item.Descripcion
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Editar contenido"
                                            onclick="location.href='@Url.Action("Edit", Model.bloque.TipoEjercicio.Controlador, new {Area = "Admin", id= item.Id })';">
                                        <i class="fa fa-pencil"></i>
                                    </button>


                                    <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Eliminar contenido"
                                            onclick="if(confirm('¿Está seguro que desea borrar el contenido?')) location.href='@Url.Action("Delete", Model.bloque.TipoEjercicio.Controlador, new {Area = "Admin" , id=item.Id })';">
                                        <i class="fa fa-times"></i>
                                    </button>


                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- END Page Content -->
