@model EnglishForCoachesWeb.Areas.Alumno.Models.TestIndexViewModel

@{
    Layout = "~/Areas/Alumno/Views/Shared/_AlumnoLayout.cshtml";
}


<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index",  "Home", new { Area = "Alumno" })">Dashboard</a></li>
        <li><a href="@Url.Action("Index",  "Subtemas", new { Area = "Alumno",id=Model.bloque.SubTema.TemaId })">@Model.bloque.SubTema.Tema.Descripcion</a></li>
        <li><a href="@Url.Action("View",  "Subtemas", new { Area = "Alumno" ,id=Model.bloque.SubTema.SubTemaId})">@Model.bloque.SubTema.Descripcion</a></li>
        <li><a href="@Url.Action("Index",  "Bloques", new { Area = "Alumno" ,id=Model.bloque.SubTemaId,areaId=Model.bloque.Area.AreaId})">@Model.bloque.Area.Descripcion</a></li>
        <li class="active">@Model.bloque.Descripcion</li>
    </ol>

    <div class="card-group">
        <div class="card">
            <div class="card-block center">
                <h4 class="m-b-0">
                    <strong>@Model.tests.Count</strong>
                </h4>
                <small class="text-muted-light">TOTAL</small>
            </div>
        </div>
        <div class="card">
            <div class="card-block center">
                <h4 class="text-success m-b-0">
                    <strong id="mostrarCorrectas">0</strong>
                </h4>
                <small class="text-muted-light">CORRECTAS</small>
            </div>
        </div>
        <div class="card">
            <div class="card-block center">
                <h4 class="text-danger m-b-0">
                    <strong id="mostrarIncorrectas">0</strong>
                </h4>
                <small class="text-muted-light">INCORRECTAS</small>
            </div>
        </div>
        <div class="card">
            <div class="card-block center">
                <h4 class="text-primary m-b-0">
                    <strong id="mostrarRestantes">@Model.tests.Count</strong>
                </h4>
                <small class="text-muted-light">RESTANTES</small>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.bloque.Explicacion))
    {
        <div class="card card-stats-primary">
            <div class="card-block">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="material-icons text-muted-light">info_outline</i>
                    </div>
                    <div class="media-body media-middle">
                        @Model.bloque.Explicacion
                    </div>
                </div>
            </div>
        </div>
    }
    @Html.Partial("_Test");
    <div class="card card-success center" id="divExplicacion">
        <div class="card-block">
            <div class="media">

                <div class="media-body media-middle" id="divExplicacionTexto">
                    Explicacion
                </div>


                <div class="media-right" id="divSiguiente">
                    <a href="javascript:SiguientePregunta();" class="btn btn-primary btn-sm btn-rounded pull-xs-right">Siguiente <i class="material-icons">send</i></a>
                </div>
                <div class="media-right" id="divFinalizar">
                    <a href="@Url.Action("Index",  "Bloques", new { Area = "Alumno" ,id=Model.bloque.SubTemaId,areaId=Model.bloque.Area.AreaId})"
                       class="btn btn-primary btn-sm btn-rounded pull-xs-right">Finalizar<i class="material-icons">send</i></a>
                </div>
                </img>
            </div>
        </div>
    </div>


    @section sidebar {

        <div class="sidebar sidebar-right si-si-3 sidebar-visible-lg-up ls-top-navbar-xs-up sidebar-light bg-white sidebar-visible" id="sidebarRight" data-position="right" data-scrollable="" data-visible="lg-up">

            <div class="sidebar-heading">Bloque</div>
            <ul class="list-group list-group-fit">
                @{ int numero = 0;}
                @foreach (var item in Model.tests)
                {
                    numero++;
                    <li class="list-group-item" id="li_test_@item.Id">
                        <span class="media">
                            <span class="media-left">
                                <span id="span_test_@item.Id" class="btn btn-white btn-circle@(Model.mistakes.Contains(item.Id)?" btn-danger":"")">#@numero</span>
                            </span>
                            <span class="media-body media-middle">
                                @item.Enunciado
                            </span>
                        </span>
                    </li>
                }
            </ul>
        </div>

    }

    @section Scripts {
        <!-- Page JS Code -->
        <script>
        var arrayPreguntas = [];

    @foreach (var d in Model.tests)
    {
        @:arrayPreguntas.push("@d.Id");
    }

        var current = 0;
        var acertadas = 0;
        var falladas = 0;
        var divExplicacion = $('#divExplicacion');
        var divExplicacionTexto = $('#divExplicacionTexto');



        var test_imgEnunciado = $('#test_imgEnunciado');
        var test_hEnunciado = $('#test_hEnunciado');
        var test_chkRespuesta1 = $('#test_chkRespuesta1');
        var test_chkRespuesta2 = $('#test_chkRespuesta2');
        var test_chkRespuesta3 = $('#test_chkRespuesta3');
            var test_chkRespuesta4 = $('#test_chkRespuesta4');
            var test_mostrarNPregunta = $('#test_mostrarNPregunta');


        var mostrarCorrectas = $('#mostrarCorrectas');
        var mostrarIncorrectas = $('#mostrarIncorrectas');
        var mostrarRestantes = $('#mostrarRestantes');

        var divSiguiente = $('#divSiguiente');
        var divFinalizar = $('#divFinalizar');


        function ActivarCheckEvent(numero) {
            return function () {
                Resolver(numero);
                var input = $(this).find('input')[0];
                input.checked = true;
                return false;
            };
        }

        function ActivarCheck(check, numero) {
            check.off('click');
            var input = check.find('input')[0];
            input.checked = false;
            check.on('click', ActivarCheckEvent(numero));
        }

        function ActivarChecks() {
            ActivarCheck(test_chkRespuesta1,1);
            ActivarCheck(test_chkRespuesta2,2);
            ActivarCheck(test_chkRespuesta3,3);
            ActivarCheck(test_chkRespuesta4,4);
        }

        function DesactivarCheck(check) {
            check.off('click');
            check.on('click', function () {
                return false;
            });
        }

        function DesactivarChecks() {
            DesactivarCheck(test_chkRespuesta1);
            DesactivarCheck(test_chkRespuesta2);
            DesactivarCheck(test_chkRespuesta3);
            DesactivarCheck(test_chkRespuesta4);
        }

        $(document).ready(function () {
            var firstLi = $('#li_test_' + arrayPreguntas[current]);
            firstLi.addClass("active");

            ActivarChecks();

            CargarPregunta();

            divFinalizar.hide();
            divExplicacion.hide();
        });

        function CargarPregunta() {
            test_mostrarNPregunta.text('#'+ (current+1));
            var url = '@Url.Action("GetTest", "Tests", new { Area = "Alumno" })';
            url = url + '/' + arrayPreguntas[current];
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    if (result.UrlImagen) {
                        test_imgEnunciado.attr("src", "../../../media/upload/Test/" + result.UrlImagen);
                        test_imgEnunciado.attr("alt", result.Enunciado);
                        test_imgEnunciado.show();
                    } else {
                        test_imgEnunciado.attr("src", "");
                        test_imgEnunciado.attr("alt", "");
                        test_imgEnunciado.hide();
                    }

                    test_hEnunciado.text(result.Enunciado);
                    test_chkRespuesta1.contents().last().replaceWith(' ' + result.Respuesta1);
                    test_chkRespuesta2.contents().last().replaceWith(' ' + result.Respuesta2);
                    if (result.Respuesta3) {
                        test_chkRespuesta3.contents().last().replaceWith(' ' + result.Respuesta3);
                        test_chkRespuesta3.show();
                    } else {
                        test_chkRespuesta3.hide();
                    }
                    if (result.Respuesta4) {
                        test_chkRespuesta4.contents().last().replaceWith(' ' + result.Respuesta4);
                        test_chkRespuesta4.show();
                    } else {
                        test_chkRespuesta4.hide();
                    }
                }
            });
        }

        function Resolver(respuesta) {

                DesactivarChecks();

                var url = '@Url.Action("Contestar", "Tests", new { Area = "Alumno" })';
                url = url + '/' + arrayPreguntas[current] + "?respuesta=" + respuesta;
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (result) {
                        var acierto = result.Correcto;
                        var span_test = $('#span_test_' + arrayPreguntas[current]);
                        span_test.removeClass("btn-white");
                        if (acierto) {
                            acertadas++;
                            span_test.removeClass("btn-danger");
                            span_test.addClass("btn-success");
                            divExplicacion.addClass("card-success");
                        } else {
                            falladas++;
                            span_test.removeClass("btn-success");
                            span_test.addClass("btn-danger");
                            divExplicacion.addClass("card-red");
                        }

                        divExplicacionTexto.text(result.Explicacion);

                        mostrarCorrectas.text(acertadas);
                        mostrarIncorrectas.text(falladas);
                        mostrarRestantes.text(arrayPreguntas.length - (acertadas + falladas));

                        divExplicacion.show();
                        if(current==arrayPreguntas.length-1)
                        {
                            divSiguiente.hide();
                            divFinalizar.show();
                        }
                    }
                });

        }

        function SiguientePregunta() {

            var currentLi = $('#li_test_' + arrayPreguntas[current]);
            currentLi.removeClass("active");
            current++;
            var nextLi = $('#li_test_' + arrayPreguntas[current]);
            nextLi.addClass("active");

            CargarPregunta();
            ActivarChecks();
            divExplicacion.hide();
            divExplicacion.removeClass("card-success");
            divExplicacion.removeClass("card-red");
        }
        </script>
    }
