@model EnglishForCoachesWeb.Areas.Alumno.Models.UsuarioEditViewModel
@{
    Layout = "~/Areas/Alumno/Views/Shared/_AlumnoLayout.cshtml";
}

<div class="container-fluid">

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index",  "Home", new { Area = "Alumno" })">Dashboard</a></li>
        <li class="active">Perfil</li>
    </ol>


    @using (Html.BeginForm("Edit", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal push-10-t" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Usuario.Id)

        <div class="form-group row">
            <label for="avatar" class="col-sm-3 form-control-label">Avatar</label>
            <div class="col-sm-9">
                <div class="media">
                    <div class="media-left">
                        <img src="~/media/upload/avatar/@(Model.Usuario.Id+ ".jpg")?d=@DateTime.Now.Second" alt="Avatar" class="img-circle">
                    </div>
                    <div class="media-body media-middle">
                        <label class="file">
                            @Html.TextBoxFor(model => model.Avatar, new { type = "file", accept = "image/*" })

                            <span class="file-custom"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-3 form-control-label">Nombre</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Usuario.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Usuario.Apellido1, new { htmlAttributes = new { @class = "form-control", placeholder = "Apellido 1" } })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Usuario.Apellido2, new { htmlAttributes = new { @class = "form-control", placeholder = "Apellido 2" } })
                    </div>
                </div>
            </div>
        </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-3 form-control-label">Email</label>
                    <div class="col-sm-8 col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <i class="material-icons md-18 text-muted">mail</i>
                            </span>
                            @Html.EditorFor(model => model.Usuario.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Address" } })
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 form-control-label">Contraseña</label>
                    <div class="col-sm-4 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">
                                <i class="material-icons md-18 text-muted">lock</i>
                            </span>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Nueva contraseña" })
                        </div>

                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">
                                <i class="material-icons md-18 text-muted">lock</i>
                            </span>
                            @Html.PasswordFor(model => model.PasswordRepeat, new { @class = "form-control", placeholder = "Repetir contraseña" })
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8 col-sm-offset-3">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8 col-sm-offset-3">
                        <div class="media">
                            <div class="media-left" id="btn_guardar">
                                <a class="btn btn-success btn-rounded">Guardar datos</a>
                            </div>
                        </div>
                    </div>
                </div>
    }
</div>

@section Scripts {

    <!-- Page JS Code -->
    <script>
        $(document).ready(function () {
            var divSubmit = $('#btn_guardar');

            divSubmit.on('click', function () {
                $(this).closest('form').submit();
            });

        });

    </script>
}