@{
    ViewBag.Title = "Check the email to reset the password";
    Layout = "~/Areas/Alumno/Views/Shared/_AlumnoLoginLayout.cshtml";
}


<div class="row">
    <div class="col-sm-8 col-sm-push-1 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4">
        <div class="center m-a-2">
            @Html.Action("LogoLogin", "Home")
        </div>
        <div class="card bg-transparent">
            <div class="card-header bg-white center">
                <h4 class="card-title">Password reset confirmation</h4>
                <a href="@Url.Action("Login", "Account", new { Area = "Alumno" })" data-toggle="tooltip" data-placement="left" title="Log In"><i class="si si-login"></i> Login</a>

            </div>
            <div class="p-a-2">

                <p>Check the email to reset the password.</p>

            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/appjs")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalization")

}
