@model EnglishForCoachesWeb.Areas.Alumno.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Areas/Alumno/Views/Shared/_AlumnoLoginLayout.cshtml";
}



<div class="row">
    <div class="col-sm-8 col-sm-push-1 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4">
        <div class="center m-a-2">
            @Html.Action("LogoLogin", "Home")
        </div>
        <div class="card bg-transparent">
            <div class="card-header bg-white center">
                <h4 class="card-title">Reset password</h4>
                <a href="@Url.Action("Login", "Account", new { Area = "Alumno" })" data-toggle="tooltip" data-placement="left" title="Log In"><i class="si si-login"></i> Login</a>

            </div>
            <div class="p-a-2">
                @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-login form-horizontal push-30-t push-50", role = "form" }))
                {
                    @Html.HiddenFor(model => model.Code)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address", type = "email" })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "help-block animated fadeInDown" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "help-block animated fadeInDown" })
                    </div>

                    <div class="form-group">

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "help-block animated fadeInDown" })
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn  btn-primary  btn-block btn-rounded">
                            Reset
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/appjs")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalization")

    <!-- Page JS Code -->
    <script src="~/Content/Intranet/assets/js/pages/base_pages_login.js"></script>
    <script>
        $(function () {
            // Init page helpers (Appear plugin)
            App.initHelpers('appear');
        });
    </script>
}