@model EnglishForCoachesWeb.Areas.Admin.Models.TemaEditViewModel


@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-12">
            <h1 class="page-heading">
                Editar Tema en
@Model.Tema.Descripcion
 
            </h1>
        </div>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content content-narrow">

    @using (Html.BeginForm("Edit", "Temas", FormMethod.Post, new {@class = "form-horizontal push-10-t" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Tema.TemaId)

        <div class="block">
            <div class="block-content block-content-full">



                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="form-material">
                            @Html.LabelFor(model => model.Tema.Descripcion, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Tema.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tema.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="form-material">
                            @Html.LabelFor(model => model.Tema.Introduccion, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Tema.Introduccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tema.Introduccion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-4">
                        <div class="form-material">
                            @Html.LabelFor(model => model.Tema.IconoUsuario, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Tema.IconoUsuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tema.IconoUsuario, "", new { @class = "text-danger" })
                        </div>
                    </div>
     
                    <div class="col-sm-8">
                        <div class="form-material">
                            @Html.LabelFor(model => model.Tema.UrlVideo, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Tema.UrlVideo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tema.UrlVideo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <h5>
                            Clientes
                        </h5>
                        @for (var j = 0; j < Model.Clientes.Count; j++)
                        {
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Clientes[j].Selected, new { id = "chk_" + j })
                                        @Html.HiddenFor(m => m.Clientes[j].Text)
                                        @Html.HiddenFor(m => m.Clientes[j].Value)
                                        <span>@Model.Clientes[j].Text</span>
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            </div>
            <div class="block-content block-content-full">
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <input type="submit" value="Guardar tema" name="command" class="btn btn-default" />
                    </div>
                </div>
            </div>
    }
</div>
<!-- END Page Content -->

