@model EnglishForCoachesWeb.Areas.Alumno.Models.TrueFalseIndexViewModel

@{
    Layout = "~/Areas/Alumno/Views/Shared/_AlumnoLayout.cshtml";
}


<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index",  "Home", new { Area = "Alumno" })">Dashboard</a></li>
        <li><a href="@Url.Action("Index",  "Subtemas", new { Area = "Alumno",id=Model.bloque.SubTema.TemaId })">@Model.bloque.SubTema.Tema.Descripcion</a></li>
        <li><a href="@Url.Action("View",  "Subtemas", new { Area = "Alumno" ,id=Model.bloque.SubTema.SubTemaId})">@Model.bloque.SubTema.Descripcion</a></li>
        <li><a href="@Url.Action("Index",  "Bloques", new { Area = "Alumno" ,id=Model.bloque.SubTemaId,areaId=Model.bloque.Area.AreaId})">@Model.bloque.Area.Descripcion</a></li>
        <li class="active">@Model.bloque.Descripcion</li>
    </ol>

    <div class="card-group">
        <div class="card">
            <div class="card-block center">
                <h4 class="m-b-0">
                    <strong>@Model.TrueFalses.Count</strong>
                </h4>
                <small class="text-muted-light">TOTAL</small>
            </div>
        </div>
        <div class="card">
            <div class="card-block center">
                <h4 class="text-success m-b-0">
                    <strong id="mostrarCorrectas">0</strong>
                </h4>
                <small class="text-muted-light">CORRECTAS</small>
            </div>
        </div>
        <div class="card">
            <div class="card-block center">
                <h4 class="text-danger m-b-0">
                    <strong id="mostrarIncorrectas">0</strong>
                </h4>
                <small class="text-muted-light">INCORRECTAS</small>
            </div>
        </div>
        <div class="card">
            <div class="card-block center">
                <h4 class="text-primary m-b-0">
                    <strong id="mostrarRestantes">@Model.TrueFalses.Count</strong>
                </h4>
                <small class="text-muted-light">RESTANTES</small>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.bloque.Explicacion))
    {
        <div class="card card-stats-primary">
            <div class="card-block">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="material-icons text-muted-light">info_outline</i>
                    </div>
                    <div class="media-body media-middle">
                        @Model.bloque.Explicacion
                    </div>
                </div>
            </div>
        </div>
    }

    @Html.Partial("_TrueFalse");

    <div class="card card-success center" id="divExplicacion">
        <div class="card-block">
            <div class="media">
                <div class="media-body media-middle" id="divExplicacionTexto">
                    Explicacion
                </div>
                <div class="media-right" id="divSiguiente">
                    <a href="javascript:SiguientePregunta();" class="btn btn-primary btn-sm btn-rounded pull-xs-right">Siguiente <i class="material-icons">send</i></a>
                </div>
                <div class="media-right" id="divFinalizar">
                    <a href="@Url.Action("Index",  "Bloques", new { Area = "Alumno" ,id=Model.bloque.SubTemaId,areaId=Model.bloque.Area.AreaId})"
                       class="btn btn-primary btn-sm btn-rounded pull-xs-right">Finalizar<i class="material-icons">send</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<audio id="audio_acierto">
    <source src="~/Content/Alumno/audio/acierto.mp3" type="audio/mpeg" />
</audio>

<audio id="audio_fallo">
    <source src="~/Content/Alumno/audio/fallo.mp3" type="audio/mpeg" />
</audio>


@section sidebar {

    <div class="sidebar sidebar-right si-si-3 sidebar-visible-lg-up ls-top-navbar-xs-up sidebar-light bg-white sidebar-visible" id="sidebarRight" data-position="right" data-scrollable="" data-visible="lg-up">

        <div class="sidebar-heading">Bloque</div>
        <ul class="list-group list-group-fit">
            @{ int numero = 0;}
            @foreach (var item in Model.TrueFalses)
            {
                numero++;
                <li class="list-group-item" id="li_TrueFalse_@item.Id">
                    <span class="media">
                        <span class="media-left">
                            <span id="span_TrueFalse_@item.Id" class="btn btn-white btn-circle@(Model.mistakes.Contains(item.Id)?" btn-danger":"")">#@numero</span>
                        </span>
                        <span class="media-body media-middle">
                            @item.Enunciado
                        </span>
                    </span>
                </li>
            }
        </ul>
    </div>

}

@section Scripts {
    <!-- Page JS Code -->
    <script>
        var arrayPreguntas = [];

    @foreach (var d in Model.TrueFalses)
    {
        @:arrayPreguntas.push("@d.Id");
    }

        var current = 0;
        var acertadas = 0;
        var falladas = 0;
        var divExplicacion = $('#divExplicacion');
        var divExplicacionTexto = $('#divExplicacionTexto');

        var mostrarCorrectas = $('#mostrarCorrectas');
        var mostrarIncorrectas = $('#mostrarIncorrectas');
        var mostrarRestantes = $('#mostrarRestantes');

        var divSiguiente = $('#divSiguiente');
        var divFinalizar = $('#divFinalizar');
        

        var trueFalse_imgEnunciado = $('#trueFalse_imgEnunciado');
        var trueFalse_hEnunciado = $('#trueFalse_hEnunciado');
        var trueFalse_btnTrue = $('#trueFalse_btnTrue');
        var trueFalse_btnFalse = $('#trueFalse_btnFalse');
        var trueFalse_mostrarNPregunta = $('#trueFalse_mostrarNPregunta');



        var trueFalse_btn_audio = $('#trueFalse_btn_audio');
        var audio_TrueFalse = $('#audio_TrueFalse');
        var source_TrueFalse = $('#source_TrueFalse');
        var trueFalse_divAudio = $('#trueFalse_divAudio');
        
        

        function GenerarEventoEnded(trueFalse_btn_audio, audio) {
            return function () {p
                trueFalse_btn_audio.removeClass("flash");
                audio.off('ended')
            };
        }
        function Reproducir() {
            trueFalse_btn_audio.addClass('flash');
            audio_TrueFalse.on('ended', GenerarEventoEnded(trueFalse_btn_audio, audio_TrueFalse));

            var audio = document.getElementById('audio_TrueFalse');
            audio.pause();
            audio.load();//suspends and restores all audio element

            //audio[0].play(); changed based on Sprachprofi's comment below
            audio.oncanplaythrough = audio.play();
            
        }

        function ActivarButtonEvent(respuesta) {
            return function () {
                Resolver(respuesta);
                return false;
            };
        }

        function ActivarButton(Button, respuesta) {
            Button.prop('disabled', false);
            Button.off('click'); 
            Button.on('click', ActivarButtonEvent(respuesta));
        }

        function ActivarButtons() {
            trueFalse_btnFalse.removeClass("btn-danger");
            trueFalse_btnTrue.removeClass("btn-success");
            trueFalse_btnTrue.addClass("btn-success");
            trueFalse_btnFalse.addClass("btn-danger");

            ActivarButton(trueFalse_btnTrue,true);
            ActivarButton(trueFalse_btnFalse,false);
        }

        function DesactivarButton(Button) {
            Button.prop('disabled', true);
            Button.off('click');
            Button.on('click', function () {
                return false;
            });
        }

        function DesactivarButtons() {
            DesactivarButton(trueFalse_btnTrue);
            DesactivarButton(trueFalse_btnFalse);
        }

        $(document).ready(function () {
            var firstLi = $('#li_TrueFalse_' + arrayPreguntas[current]);
            firstLi.addClass("active");

            ActivarButtons();

            CargarPregunta();

            divFinalizar.hide();
            divExplicacion.hide();
        });

        function CargarPregunta() {
            trueFalse_mostrarNPregunta.text('#'+ (current+1));
            var url = '@Url.Action("GetTrueFalse", "TrueFalses", new { Area = "Alumno" })';
            url = url + '/' + arrayPreguntas[current];
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    if (result.UrlImagen) {
                        trueFalse_imgEnunciado.attr("src", "/media/upload/TrueFalse/" + result.UrlImagen);
                        trueFalse_imgEnunciado.attr("alt", result.Enunciado);
                        trueFalse_imgEnunciado.show();
                    } else {
                        trueFalse_imgEnunciado.hide();
                    }
                    console.log(result.Audio);
                    if (result.Audio) {
                        console.log("/media/upload/TrueFalse/Audios/" + result.Audio);
                        source_TrueFalse.attr("src", "/media/upload/TrueFalse/Audios/" + result.Audio);
                        trueFalse_divAudio.show();
                    } else {
                        trueFalse_divAudio.hide();
                    }

                    trueFalse_hEnunciado.text(result.Enunciado);                    
                }
            });
        }

        function Resolver(respuesta) {

            DesactivarButtons();
            if (respuesta) {
                trueFalse_btnFalse.removeClass("btn-danger");
            }
            else {
                trueFalse_btnTrue.removeClass("btn-success");
            }

                var url = '@Url.Action("Contestar", "TrueFalses", new { Area = "Alumno" })';
                url = url + '/' + arrayPreguntas[current] + "?respuesta=" + respuesta;
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (result) {
                        var acierto = result.Correcto;
                        var span_TrueFalse = $('#span_TrueFalse_' + arrayPreguntas[current]);
                        span_TrueFalse.removeClass("btn-white");
                        if (acierto) {
                            acertadas++;
                            span_TrueFalse.removeClass("btn-danger");
                            span_TrueFalse.addClass("btn-success");
                            divExplicacion.addClass("card-success");
                            document.getElementById('audio_acierto').play();
                        } else {
                            falladas++;
                            span_TrueFalse.removeClass("btn-success");
                            span_TrueFalse.addClass("btn-danger");
                            divExplicacion.addClass("card-red");
                            document.getElementById('audio_fallo').play();
                        }

                        divExplicacionTexto.text(result.Explicacion);

                        mostrarCorrectas.text(acertadas);
                        mostrarIncorrectas.text(falladas);
                        mostrarRestantes.text(arrayPreguntas.length - (acertadas + falladas));

                        divExplicacion.show();
                        if(current==arrayPreguntas.length-1)
                        {
                            divSiguiente.hide();
                            divFinalizar.show();
                        }
                    }
                });

        }

        function SiguientePregunta() {

            var currentLi = $('#li_TrueFalse_' + arrayPreguntas[current]);
            currentLi.removeClass("active");
            current++;
            var nextLi = $('#li_TrueFalse_' + arrayPreguntas[current]);
            nextLi.addClass("active");

            CargarPregunta();
            ActivarButtons();
            divExplicacion.hide();
            divExplicacion.removeClass("card-success");
            divExplicacion.removeClass("card-red");
        }
    </script>
}