@model EnglishForCoachesWeb.Areas.Admin.Models.AhorcadoEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-12">
            <h1 class="page-heading">
                <a href="@Url.Action("Index", "Subtemas", new {id = @Model.juegoOnline.SubTema.TemaId })">
                    @Model.juegoOnline.SubTema.Tema.Descripcion
                </a>
                / <a href="@Url.Action("Index", "Bloques", new {id = @Model.juegoOnline.SubTema.SubTemaId })">
                    @Model.juegoOnline.SubTema.Descripcion
                </a> /  @Model.juegoOnline.Descripcion
            </h1>
            <h3>
                Nuevo ejercicio
            </h3>
        </div>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content content-narrow">

    @using (Html.BeginForm("Edit", "Ahorcado", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal push-10-t" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.HiddenFor(model => model.Ahorcado.Id)
        @Html.HiddenFor(model => model.Ahorcado.SubTemaId)
        @Html.HiddenFor(model => model.Ahorcado.TipoJuegoOnlineId)
        @Html.HiddenFor(model => model.Ahorcado.JuegoOnlineId)

        <div class="block">
            <div class="block-content block-content-full">

                @if (!string.IsNullOrEmpty(Model.Ahorcado.UrlImagen))
                {
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="form-material">
                                <img src="~/media/upload/Ahorcado/@(Model.Ahorcado.UrlImagen)?d=@DateTime.Now.Millisecond" />
                            </div>
                        </div>
                    </div>
                }


                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="form-material">
                            @Html.LabelFor(model => model.Ahorcado.Texto, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Ahorcado.Texto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ahorcado.Texto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="form-material">
                            @Html.TextBoxFor(model => model.ImageFile, new { type = "file", accept = ".jpg" })
                            @Html.ValidationMessageFor(model => model.ImageFile)
                            @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "" })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-material">
                            <button onclick="document.getElementById('audio_extra').play();"
                                    class="btn btn-rounded @(string.IsNullOrEmpty(Model.Ahorcado.Audio) ? "btn-danger":"btn-default")"
                                    type="button" @(string.IsNullOrEmpty(Model.Ahorcado.Audio) ? "disabled" : "")>
                                <i class="fa fa-volume-up"></i>
                            </button>
                            @if (!string.IsNullOrEmpty(Model.Ahorcado.Audio))
                            {
                                <audio id="audio_extra">
                                    <source src="~/media/upload/Ahorcado/Audios/@Model.Ahorcado.Audio" type="audio/mpeg" />
                                </audio>
                            }
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-material">
                            @Html.TextBoxFor(model => model.AudioFile, new { type = "file", accept = ".mp3" })
                            @Html.ValidationMessageFor(model => model.AudioFile)
                            @Html.LabelFor(model => model.AudioFile, htmlAttributes: new { @class = "" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="form-material">
                            @Html.LabelFor(model => model.Ahorcado.Respuesta, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Ahorcado.Respuesta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ahorcado.Respuesta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="form-material">
                            @Html.LabelFor(model => model.Ahorcado.Explicacion, htmlAttributes: new { @class = "" })
                            @Html.TextAreaFor(model => model.Ahorcado.Explicacion, new { @class = "form-control", @rows = "3" })
                            @Html.ValidationMessageFor(model => model.Ahorcado.Explicacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content block-content-full">
            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <input type="submit" name="command" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div id="divAhorcado">

           
        </div>
    }

</div>
<!-- END Page Content -->
