@{
    Layout = "~/Areas/Usuario/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="container-fluid">

    <ol class="breadcrumb m-b-0">
        <li><a href="@Url.Action("Index",  "Home", new { Area = "Usuario" })">Dashboard</a></li>
        <li class="active">Gramática</li>
    </ol>
    <h1 class="page-heading h2">Gramática</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta eius enim inventoreus optio ratione veritatis. Beatae deserunt illum ipsam magniima mollitia officiis quia tempora!
                </div>
            </div>

            <!-- Lessons -->
            <div class="card">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">1.</div>
                            </div>
                            <div class="media-body"> <a href="@Url.Action("Subtema",  "Home", new { Area = "Usuario" })">Introducción Unidad 1</a> </div>
                            <div class="media-right"> <i class="material-icons green">lock_open</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">2.</div>
                            </div>
                            <div class="media-body"> <a href="@Url.Action("Subtema",  "Home", new { Area = "Usuario" })">Saludos y presentaciones</a> </div>
                            <div class="media-right"> <i class="material-icons green">lock_open</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">3.</div>
                            </div>
                            <div class="media-body"> <a href="@Url.Action("Subtema",  "Home", new { Area = "Usuario" })">Tratamiento de cortesía</a> </div>
                            <div class="media-right"> <i class="material-icons green">lock_open</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted"></div>
                            </div>
                            <div class="media-body right"> <a href="@Url.Action("Examen",  "Home", new { Area = "Usuario" })"><small>Desbloquear siguiente</small></a> </div>
                            <div class="media-right"> <i class="material-icons">lock_open</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">4.</div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light"> Cortesia, disculpas y felicitaciones</div>
                            </div>
                            <div class="media-right"> <i class="material-icons red">lock_outline</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">5.</div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light"> Expresiones, interjecciones y sorpresa</div>
                            </div>
                            <div class="media-right"> <i class="material-icons red">lock_outline</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">6.</div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light"> Modos para expresar opinión</div>
                            </div>
                            <div class="media-right"> <i class="material-icons red">lock_outline</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">7.</div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light">Tus primeras preguntas</div>
                            </div>
                            <div class="media-right"> <i class="material-icons red">lock_outline</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">8.</div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light">VOCABULARIO - Familia, animales, colores, profesiones y objetos</div>
                            </div>
                            <div class="media-right"> <i class="material-icons red">lock_outline</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">9.</div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light">EL REFRANERO ......</div>
                            </div>
                            <div class="media-right"> <i class="material-icons red">lock_outline</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">10.</div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light">IDIOMS (expresiones)</div>
                            </div>
                            <div class="media-right"> <i class="material-icons red">lock_outline</i> </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="text-muted">11.</div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light">CONVERSACIÓN</div>
                            </div>
                            <div class="media-right"> <i class="material-icons red">lock_outline</i> </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-4">

            <div class="card">
                <ul class="list-group list-group-fit">
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons text-muted-light">school</i>
                            </div>
                            <div class="media-body media-middle">
                                74 <small class="text-muted">unidades didácticas</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons text-muted-light">create</i>
                            </div>
                            <div class="media-body media-middle">
                                123 <small class="text-muted">prácticas</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons text-muted-light">list</i>
                            </div>
                            <div class="media-body media-middle">
                                95 <small class="text-muted">entradas de vocabulario</small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>