@model EnglishForCoachesWeb.Areas.Alumno.Models.VocabulariosGramaticaViewModel
@{
    Layout = "~/Areas/Alumno/Views/Shared/_AlumnoLayout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb m-b-0">
        <li><a href="@Url.Action("Index",  "Home", new { Area = "Alumno" })">Dashboard</a></li>
        <li><a href="@Url.Action("Index",  "Subtemas", new { Area = "Alumno",id=Model.Subtema.TemaId })">@Model.Subtema.Tema.Descripcion</a></li>
        <li><a href="@Url.Action("View",  "Subtemas", new { Area = "Alumno" ,id=Model.Subtema.SubTemaId})">@Model.Subtema.Descripcion</a></li>
        <li>@Model.Gramatica.Titulo</li>
        <li class="active">Vocabulario</li>
    </ol>

    <h1 class="page-heading h2">Vocabulario 
    <a href="@Url.Action("Gramatica", "Vocabularios", new { Area = "Alumno",id=Model.Subtema.SubTemaId, gramaticaId=Model.Gramatica.GramaticaId, idioma="en" })" class="language en @(Model.Idioma=="en"?"":"off")"></a>
     <a href="@Url.Action("Gramatica", "Vocabularios", new { Area = "Alumno",id=Model.Subtema.SubTemaId, gramaticaId=Model.Gramatica.GramaticaId, idioma="es" })"  class="language es @(Model.Idioma=="en"?"off":"")"></a></h1>

    @if (Model.vocabulario.Count == 0)
    {
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <p>No hay resultados</p>
            </div>
        </div>
    }

    @foreach (var item in Model.vocabulario)
    {
    <div class="card">
        <div class="card-block bg-white">
            <div class="row">
                <div class="col-md-1">
                    <button onclick="document.getElementById('audio_vocabulario_@item.VocabularioId').play();"
                            class="btn btn-secondary btn-circle"
                            type="button" @(string.IsNullOrEmpty(item.FicheroAudio) ? "disabled" : "")>
                        <i class="material-icons">hearing</i>
                    </button>
                    @if (!string.IsNullOrEmpty(item.FicheroAudio))
                    {
                        <audio preload="none" id="audio_vocabulario_@item.VocabularioId">
                            <source src="~/media/upload/audio/@item.FicheroAudio" type="audio/mpeg" />
                        </audio>
                    }


                </div>
                <div class="col-md-3">
                    <h4 style="padding-top: 6px;">@(Model.Idioma == "en" ? item.Palabra_en : item.Palabra_es)</h4>
                    <small class="text-muted">@(Model.Idioma == "en" ? item.CategoriaVocabulario.Descripcion_en : item.CategoriaVocabulario.Descripcion)</small>
                </div>
                <div class="col-md-7">
                    <div class="row definicion">
                        <div class="col-md-5">
                            <h4 style="padding-top: 6px;">@(Model.Idioma == "es" ? item.Palabra_en : item.Palabra_es)</h4>

                        </div>
                        <div class="col-md-7">
                            <small>@item.Definicion</small>
                        </div>
                    </div>

                    @if (item.DefinicionVocabularios!=null && item.DefinicionVocabularios.Any() && Model.Idioma == "en")
                    {
                        foreach (var def in item.DefinicionVocabularios)
                        {
                            <div class="row definicion">
                                <div class="col-md-5">
                                    <h4 style="padding-top: 6px;">@def.Palabra_es</h4>
                                </div>
                                <div class="col-md-7">
                                    <small>@def.Definicion</small>
                                </div>
                            </div>
                        }

                    }
                    <div class="col-md-12">
                        <small class="text-muted">@(Model.Idioma == "es" ? item.CategoriaVocabulario.Descripcion_en : item.CategoriaVocabulario.Descripcion)</small>
                    </div>
                </div>
                <div class="col-md-1">
                    <div id="div_glosario_@item.VocabularioId" data-toggle="tooltip" title="@(Model.glosario.Contains(item.VocabularioId) ? "Quitar de mi glosario" : "Añadir a mi glosario")" class="btn" vocabularioId="@item.VocabularioId">
                        <i class="material-icons @(Model.glosario.Contains(item.VocabularioId) ? "text-warning" : "text-muted-light")"
                           id="icon_glosario_@item.VocabularioId">star</i>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(@item.Explicacion))
                    {
                        <div class="card-block">
                            <button class="btn btn-info btn-circle try-sweet-simpleMessage" data-toggle="tooltip" type="button" title="Explicación" data-explicacion="@item.Explicacion" onclick="ClickExplicacion(this)"> <i class="material-icons">info_outline</i> </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    }


</div>


@section Scripts {

<script src="~/Content/Alumno/vendor/sweetalert.min.js"></script>
<!-- Page JS Code -->
<script>
        function ClickExplicacion(btn) {
            var message = $(btn).attr("data-explicacion")


            swal({
                title: "Explicación",
                text: message,
                confirmButtonColor: "#039BE5"
            });
        }
        $(document).ready(function () {

            $('[id^="div_glosario_"]').each(function (index) {
                $(this).on('click', function () {
                    var id=$(this).attr("vocabularioId");
                    AddRemoveGlosario('@Url.Action("AddGlosario", "Vocabularios", new {Area = "Alumno" })/'+id,id);
                });
            });

        });


        function AddRemoveGlosario(url, vocabularioId) {
            $.get(url, function (data) {
                console.log(data);
                var icon=$("#icon_glosario_" + vocabularioId);
                if(data=="Eliminado")
                {
                    icon.removeClass("text-warning");
                    icon.addClass("text-muted-light");
                }else{
                    icon.removeClass("text-muted-light");
                    icon.addClass("text-warning");
                }
            });
        }
</script>
}