@model EnglishForCoachesWeb.Areas.Publico.Models.IndexViewModel

@{
    ViewBag.Title = "The Inim Co.";
    Layout = "~/Areas/Publico/Views/Shared/_PublicoLayout.cshtml";
}

<!-- Home page Main Slider -->
<section id="rst-home-mainslider">
    <div class="container">

        <!-- Pageline -->
        <div class="rst-pageline container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="text-center">The Inim Co is a Blog intended for coaches, players, referees and football professionals to study the football technical terminology in English necessary to perform their duties.</h2>
                </div>
            </div>
        </div>
        <!-- end pageline -->

        <div class="row">
            <div class="col-xs-12">
@if (Model.ArticulosDestacados.Count() >0)
{
                <div class="rst-mainslider owl-carousel">
                    <div class="rst-mainslide">
                        <img src="~/Imagenes/@(Model.ArticulosDestacados.ElementAt(0).ArticuloId)_l.jpg" alt="@Model.ArticulosDestacados.ElementAt(0).Titulo" />
                        <div class="rst-boxinfo">
                            <a class="rst-postpic-cat" href="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/"+@Model.ArticulosDestacados.ElementAt(0).Categoria.DescripcionSeo)"><span>@Model.ArticulosDestacados.ElementAt(0).Categoria.Descripcion</span></a>
                            <p><a href="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/"+@Model.ArticulosDestacados.ElementAt(0).Categoria.DescripcionSeo+"/"+ @Model.ArticulosDestacados.ElementAt(0).TituloSeo)">@Model.ArticulosDestacados.ElementAt(0).Titulo</a></p>
                            <time><i class="fa fa-clock-o"></i>@Model.ArticulosDestacados.ElementAt(0).FechaPublicacion.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("en"))</time>
                        </div>
                    </div>
                </div>
}
                <!-- end slider -->
                <div class="rst-mainslider-posts">
@if (Model.ArticulosDestacados.Count() > 1)
{
                    <div class="rst-posttype">
                        <img src="~/Imagenes/@(Model.ArticulosDestacados.ElementAt(1).ArticuloId)_m.jpg" alt="@Model.ArticulosDestacados.ElementAt(1).Titulo" />
                        <div class="rst-boxinfo">
                            <a class="rst-postpic-cat" href="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/"+@Model.ArticulosDestacados.ElementAt(1).Categoria.DescripcionSeo)"><span>@Model.ArticulosDestacados.ElementAt(1).Categoria.Descripcion</span></a>
                            <p><a href="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/"+@Model.ArticulosDestacados.ElementAt(1).Categoria.DescripcionSeo+"/"+ @Model.ArticulosDestacados.ElementAt(1).TituloSeo)">@Model.ArticulosDestacados.ElementAt(1).Titulo</a></p>
                            <time><i class="fa fa-clock-o"></i>@Model.ArticulosDestacados.ElementAt(1).FechaPublicacion.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("en"))</time>
                        </div>
                    </div>
}
                    @if (Model.ArticulosDestacados.Count() > 2)
                    {
                    <div class="rst-posttype">
                        <img src="~/Imagenes/@(Model.ArticulosDestacados.ElementAt(2).ArticuloId)_m.jpg" alt="@Model.ArticulosDestacados.ElementAt(2).Titulo" />
                        <div class="rst-boxinfo">
                            <a class="rst-postpic-cat" href="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/"+@Model.ArticulosDestacados.ElementAt(2).Categoria.DescripcionSeo)"><span>@Model.ArticulosDestacados.ElementAt(2).Categoria.Descripcion</span></a>
                            <p><a href="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/"+@Model.ArticulosDestacados.ElementAt(2).Categoria.DescripcionSeo+"/"+ @Model.ArticulosDestacados.ElementAt(2).TituloSeo)">@Model.ArticulosDestacados.ElementAt(2).Titulo</a></p>
                            <time><i class="fa fa-clock-o"></i>@Model.ArticulosDestacados.ElementAt(2).FechaPublicacion.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("en"))</time>
                        </div>
                    </div>
                    }
                    <div class="clear"></div>
                </div>
                <!-- end posts -->
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Main Slider -->

<!-- Section Popular -->
<section id="rst-popular">
    <div class="container">
        <div class="row">
            <div class="rst-section-title">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>MORE ARTICLES</h4>
                        </div>
                    </div>
                </div>
            </div>
@foreach (var item in Model.ArticulosLista)
{
            <article class="col-sm-3 col-xs-6">
                <div class="rst-postpic">
                    <a href="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/"+item.Categoria.DescripcionSeo+"/"+ item.TituloSeo)"><img src="~/Imagenes/@(item.ArticuloId)_m.jpg" alt="@item.Titulo" /></a>
                    <a class="rst-postpic-cat" href="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/"+item.Categoria.DescripcionSeo)"><span>@item.Categoria.Descripcion</span></a>
                </div>
                <div class="rst-postinfo">
                    <h6><a href="@(HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + "/"+item.Categoria.DescripcionSeo+"/"+ item.TituloSeo)">@item.Titulo</a></h6>
                    <time><i class="fa fa-clock-o"></i>@item.FechaPublicacion.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("en"))</time>
                    <p>@Html.Raw(item.CuerpoResumen) ...</p>
                </div>
            </article>
}

        </div>
    </div>
</section>
<!-- End Section Popular -->