@model EnglishForCoachesWeb.Areas.Alumno.Models.JuegosCategoriaViewModel

@{
    Layout = "~/Areas/Alumno/Views/Shared/_AlumnoLayout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb m-b-0">
        <li><a href="@Url.Action("Index", "Home", new { Area = "Alumno" })">Dashboard</a></li>
        <li><a href="@Url.Action("Index",  "Subtemas", new { Area = "Alumno",id=Model.SubTema.TemaId })">@Model.SubTema.Tema.Descripcion</a></li>
        <li><a href="@Url.Action("View",  "Subtemas", new { Area = "Alumno" ,id=Model.SubTema.SubTemaId})">@Model.SubTema.Descripcion</a></li>
        <li><a href="@Url.Action("Index",  "Juegos", new { Area = "Alumno" ,id=Model.SubTema.SubTemaId})">Juegos</a></li>
        <li class="active">@Model.CategoriaJuego.Descripcion</li>
    </ol>

    <h1 class="page-heading h2">@Model.CategoriaJuego.Descripcion</h1>

    <div class="row_cards">

            @foreach (var item in Model.Juegos)
            {
                <div class="item">
                    <div class="card">
                        <div class="card-header bg-white center">
                            <h4 class="card-title">@item.Titulo</h4>
                        </div>
                        <div class="card-block">
                            @if (item.Explicacion != "-")
                            {
                                <p class="m-b-0"> @Html.Raw(item.Explicacion) <a href="javascript:MostrarExplicacion('@Html.Raw(item.Explicacion)');" class="try-sweet-simpleMessage">Leer más</a> </p>
                            }
                            <div class="media-left"> <span class="label label-primary">@item.CategoriaJuego.Descripcion</span></div>
                            <div class="media-right"> <a target="_blank" href="/media/upload/juegos/@item.Fichero" class="btn btn-primary btn-block btn-rounded"> <i class="material-icons md-36">get_app</i> Descargar</a> </div>

                        </div>
                    </div>
                </div>
            }

                </div>
</div>




@section Scripts {
    <script src="~/Content/Alumno/vendor/sweetalert.min.js"></script>
    <script type="text/javascript">

       function MostrarExplicacion(explicacion) {
            swal({
                title: "Explicación",
                text: explicacion,
                html: true
            });
        }

    </script>
}