@using EnglishForCoachesWeb.Helpers
@using System.Security.Claims

<!DOCTYPE html>
<html class="bootstrap-layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/Content/Alumno/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/Alumno/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Alumno/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Alumno/images/apple-touch-icon-114x114.png">

    <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
    <meta name="robots" content="noindex">

    <!-- Material Design Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Roboto Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="/Content/Alumno/vendor/sweetalert.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/Alumno/css/datatables.min.css">
    <link rel="stylesheet" href="/Content/Alumno/vendor/fancytree.min.css">
    @Styles.Render("~/Content/AlumnoCss")


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css">

    @RenderSection("Css", required: false)
    <link href="@Url.Action("CssCliente","Home")" rel="stylesheet" type="text/css" />
</head>

<body class="layout-container ls-top-navbar si-l3-md-up">

    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-primary navbar-full navbar-fixed-top">

        <!-- Toggle sidebar -->
        <button class="navbar-toggler pull-xs-left" type="button" data-toggle="sidebar" data-target="#sidebarLeft"><span class="material-icons">menu</span></button>

        <!-- Brand -->
        <a href="@Url.Action("Index","Home")" class="navbar-brand">
            @Html.Action("Logo", "Home")
        </a>
        @*<a href="http://www.rfef.es" class="navbar-brand" target="_blank"><div id="logo_RFEF"></div></a>*@

        <!-- Search -->
        <!--<form class="form-inline pull-xs-left hidden-sm-down">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscador">
                <span class="input-group-btn"><button class="btn" type="button"><i class="material-icons">buscador</i></button></span>
            </div>
        </form>-->
        <!-- // END Search -->
        <!--<ul class="nav navbar-nav hidden-sm-down">
            <li class="nav-item">
                <a class="nav-link" href="_get-help.html">Preguntas frecuentes</a>
            </li>
        </ul>-->
        <!-- Menu -->
        <ul class="nav navbar-nav pull-xs-right">

            @{
                var avatar = ((ClaimsIdentity)User.Identity).FindFirst("avatar").Value + "?d=" + DateTime.Now.Millisecond;
            }
            <!-- User dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle p-a-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false">
                    <img src="@avatar" alt="Avatar" class="img-circle" width="40">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-list" aria-labelledby="Preview">
                    <a class="dropdown-item" href="@Url.Action("Edit", "Usuario", new { Area = "Alumno" })"><i class="material-icons md-18">person</i> <span class="icon-text">Editar perfil</span></a>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
                    @using (Html.BeginForm("LogOff", "Account", new { area = "Admin" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                </div>
            </li>
            <!-- // END User dropdown -->

        </ul>
        <!-- // END Menu -->

    </nav>
    <!-- // END Navbar -->
    <!-- Sidebar -->
    <div class="sidebar sidebar-left sidebar-light sidebar-visible-md-up si-si-3 ls-top-navbar-xs-up sidebar-transparent-md" id="sidebarLeft" data-scrollable>

        <ul class="sidebar-menu">
            <li class="sidebar-menu-item @Html.IsSelected( controllers: "Home")">
                <a class="sidebar-menu-button" href="@Url.Action("Index", "Home", new { Area = "Alumno" })">
                    <i class="sidebar-menu-icon material-icons">home</i> Dashboard
                </a>
            </li>
            @{Html.RenderAction("ListarTemasAlumno", "SubTemas"); }
        </ul>
        <div class="sidebar-heading">RECURSOS</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item @Html.IsSelected( controllers: "Calendario")">
                <a class="sidebar-menu-button" href="@Url.Action("Index",  "Calendario", new { Area = "Alumno" })">
                    <i class="sidebar-menu-icon material-icons">event</i> Registro de actividad
                </a>
            </li>
            <li class="sidebar-menu-item @Html.IsSelected( controllers: "Mistakes")">
                <a class="sidebar-menu-button" href="@Url.Action("Index",  "Mistakes", new { Area = "Alumno" })">
                    <i class="sidebar-menu-icon material-icons">thumb_down</i> Mistakes
                </a>
            </li>
            <li class="sidebar-menu-item @Html.IsSelected( controllers: "Foro")">
                <a class="sidebar-menu-button" href="@Url.Action("Index",  "Foro", new { Area = "Alumno" })">
                    <i class="sidebar-menu-icon material-icons">forum</i> Foro
                    <span class="sidebar-menu-label label label-default">@{Html.RenderAction("NoLeidos", "Foro");}</span>
                </a>
            </li>
            <li class="sidebar-menu-item @Html.IsSelected( controllers: "Documentos")">
                <a class="sidebar-menu-button" href="@Url.Action("Index",  "Documentos", new { Area = "Alumno" })">
                    <i class="sidebar-menu-icon material-icons">import_contacts</i> Documentación
                </a>
            </li>
            <li class="sidebar-menu-item @Html.IsSelected( controllers: "Noticias")">
                <a class="sidebar-menu-button" href="@Url.Action("Index",  "Noticias", new { Area = "Alumno" })">
                    <i class="sidebar-menu-icon material-icons">note</i> Actualidad
                </a>
            </li>
            <!--<li class="sidebar-menu-item">
        <a class="sidebar-menu-button" href="_chat.html">
            <i class="sidebar-menu-icon material-icons">comment</i> Mensajes
            <span class="sidebar-menu-label label label-default">2</span>
        </a>
    </li>
    <li class="sidebar-menu-item">
        <a class="sidebar-menu-button" href="_ui-calendar.html">
            <i class="sidebar-menu-icon material-icons">date_range</i> Agenda
        </a>
    </li>-->

            <li class="sidebar-menu-item @Html.IsSelected( actions:"Index",controllers: "Vocabularios")">
                <a class="sidebar-menu-button" target="_blank" href="@Url.Action("Index",  "Vocabularios", new { Area = "Alumno" })">
                    <i class="sidebar-menu-icon material-icons">list</i> Diccionario
                </a>
            </li>
            <!--<li class="sidebar-menu-item">
        <a class="sidebar-menu-button" href="#">
            <i class="sidebar-menu-icon material-icons">casino</i> Juegos
        </a>
    </li>-->
            <li class="sidebar-menu-item @Html.IsSelected(actions:"Glosario", controllers: "Vocabularios")">
                <a class="sidebar-menu-button" href="@Url.Action("Glosario",  "Vocabularios", new { Area = "Alumno" })">
                    <i class="sidebar-menu-icon material-icons">playlist_add</i> Mi glosario
                </a>
            </li>
            <li class="sidebar-menu-item @Html.IsSelected(actions:"Glosario", controllers: "Frases")">
                <a class="sidebar-menu-button" href="@Url.Action("Glosario",  "Frases", new { Area = "Alumno" })">
                    <i class="sidebar-menu-icon material-icons">playlist_play</i> Mis frases
                </a>
            </li>
            <li class="sidebar-menu-item @Html.IsSelected( controllers: "Examen")">
                <a class="sidebar-menu-button" href="@Url.Action("Index",  "Examen", new { Area = "Alumno" })">
                    <i class="sidebar-menu-icon material-icons">lock_open</i> Examenes
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="@Url.Action("Index",  "Articulos", new { Area = "Admin" })">
                        <i class="sidebar-menu-icon material-icons">security</i> Administrador
                    </a>
                </li>
            }
            @if (User.IsInRole("AdministradorGrupo"))
            {
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="@Url.Action("Index",  "Usuario", new { Area = "Admin" })">
                        <i class="sidebar-menu-icon material-icons">security</i> Administrador
                    </a>
                </li>
            }

            <!--<li class="sidebar-menu-item">
        <a class="sidebar-menu-button" href="#">
            <i class="sidebar-menu-icon material-icons">file_download</i> Descargas
        </a>
    </li>-->
        </ul>
    </div>
    <!-- // END Sidebar -->

    @RenderSection("sidebar", required: false)

    <!-- Content -->
    <div class="layout-content" id="divContent" data-scrollable>
        <div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve">
            <a rel="nofollow" class="rsbtn_play" accesskey="L" title="Listen to this page using ReadSpeaker webReader" href="//app-eu.readspeaker.com/cgi-bin/rsent?customerid=10265&amp;lang=en_au&amp;readid=divContent&amp;url=@Url.Encode(Request.Url.AbsoluteUri)">
                <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Listen</span></span></span>
                <span class="rsbtn_right rsimg rsplay rspart"></span>
            </a>
        </div>
        @RenderBody()
    </div>

    @*@Scripts.Render("~/bundles/AlumnoJs")

        @Scripts.Render("~/bundles/AlumnoChartsJs")*@
    <script src="/Content/Alumno/vendor/jquery.min.js"></script>
    <script src="/Content/Alumno/vendor/tether.min.js"></script>
    <script src="/Content/Alumno/vendor/bootstrap.min.js"></script>
    <script src="/Content/Alumno/vendor/adminplus.js"></script>
    <script src="/Content/Alumno/js/main.min.js"></script>
    <script src="/Content/Alumno/js/colors.js"></script>


    <script src="/Content/Alumno/vendor/raphael-min.js"></script>
    <script src="/Content/Alumno/vendor/morris.min.js"></script>

    <script src="//f1-eu.readspeaker.com/script/10265/webReader/webReader.js?pids=wr" type="text/javascript"></script>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        window.rsConf = { ui: { disableDetachment: true } };

    </script>
</body>

</html>