@model EnglishForCoachesWeb.Areas.Admin.Models.VideoIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-12">
            <h1 class="page-heading">
                Videos
            </h1>
        </div>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" onclick="location.href='@Url.Action("Create", "Videos", new { Area = "Admin"})';"><i class="si si-note"></i> Nuevo Video</button>
                        </li>
                    </ul>
                </div>

                <div class="block-header">
                    @using (Html.BeginForm("Index", "Videos", FormMethod.Post, new { id = "FormBusqueda" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => model.Pagina, new { id = "HidPagina" })
                        <div class="col-sm-12">
                            <div class="input-group input-group-lg">
                                @Html.TextBoxFor(model => model.TextoBusqueda, new { @class = "form-control", placeholder = "Buscar…" })

                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>

                        </div>
                    }
                </div>

                <div class="block-content">


                    <div class="row">

                        @foreach (var item in Model.listadoVideos)
                        {

                            <div class="col-sm-4">
                                <!-- Bootstrap Lock -->
                                <div class="block block-themed">

                                    <div class="block-content">
                                        <div class="text-center push-10-t push-30">
                                            <img class="img-avatar img-avatar96" src="@(item.ThumbNail )?d=@DateTime.Now.Millisecond" alt="">
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="form-group text-center">
                                                <label class="col-xs-12" for="lock1-password">@item.Titulo </label>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12 center text-center">
                                                    <a href="@item.UrlVideo" target="_blank"
                                                       class="btn btn-xs btn-danger">

                                                        <i class="fa fa-eye push-5-r"></i> Ver
                                                    </a>
                                                </div>
                                                <div class="col-xs-12 center text-center">
                                                    <a data-toggle="modal"
                                                       data-target="#modal-normal" onclick="cargartextoModal('@item.UrlVideo');"
                                                       class="btn btn-xs btn-danger">

                                                        <i class="fa fa-files-o push-5-r"></i> Insertar
                                                    </a>
                                                </div>
                                                <div class="col-xs-12 center text-center">
                                                    <a onclick="if(confirm('¿Está seguro que desea borrar el contenido?')) location.href='@Url.Action("Delete","Videos", new { Area = "Admin", id = item.VideoId })';"
                                                       class="btn btn-xs btn-danger">

                                                        <i class="fa fa-times push-5-r"></i> Eliminar
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- END Bootstrap Lock -->
                            </div>
                        }

                    </div>

                    <nav>
                        <ul class="pagination pagination-sm">
                            <li class="@(1 == Model.Pagina ? "disabled":"")">
                                <a href="javascript:IrAPagina(@(Model.Pagina-5))"><i class="fa fa-angle-double-left"></i></a>
                            </li>
                            @for (int i = Model.PaginaMin; i <= Model.PaginaMax; i++)
                            {
                                <li class="@(i == Model.Pagina ? "active":"")">
                                    <a href="javascript:IrAPagina(@i)">@i</a>
                                </li>
                            }
                            <li class="@(Model.NPaginas == Model.Pagina ? "disabled":"")">
                                <a href="javascript:IrAPagina(@(Model.Pagina+5))"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- END Page Content -->
<!-- Normal Modal -->
<div class="modal" id="modal-normal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Código del vídeo</h3>
                </div>
                <div class="block-content">
                    <textarea  type="text" rows="5" cols="70" id="textoModal"></textarea>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Normal Modal -->

@section Scripts {

    <!-- Page JS Code -->
    <script>
        var HidPagina = $("#HidPagina");

        function IrAPagina(pagina) {
            HidPagina.val(pagina);
            document.getElementById("FormBusqueda").submit();
        }

        var textoModal = $("#textoModal");
        function cargartextoModal(texto) {
            var video='<iframe src="'+texto+'" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';

            textoModal.val(video);
        }

        $(document).ready(function () {


        });

    </script>
}