@using Microsoft.AspNet.Identity
@model EnglishForCoachesWeb.Areas.Admin.Models.ManageUserViewModel


                    <!-- My Block -->
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">Modificar contraseña</h3>
                        </div>
                        <div class="block-content">

                            @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                                <div class="form-group">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-material form-material-primary">
                                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                                            @Html.LabelFor(model => model.OldPassword)
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-material form-material-primary">
                                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                            @Html.LabelFor(model => model.NewPassword)
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <div class="form-material form-material-primary">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                            @Html.LabelFor(model => model.ConfirmPassword)
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-save pull-right"></i> Modificar</button>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                    <!-- END My Block -->