@model EnglishForCoachesWeb.Areas.Admin.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

 <!-- Login Content -->
<div class="content overflow-hidden">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <!-- Login Block -->
            <div class="block block-themed animated fadeIn">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <a href="@Url.Action("ForgotPassword", "Account", new { Area = "Admin" })">Forgot password?</a>
                        </li>
                       
                    </ul>
                    <h3 class="block-title">Login</h3>
                </div>
                <div class="block-content block-content-full block-content-narrow">
                    <!-- Login Title -->
                    <h1 class="h2 font-w600 push-30-t push-5">English for Football</h1>
                    <p>Welcome to englishforcoaches.com</p>
                    <!-- END Login Title -->
                    <!-- Login Form -->
                    <!-- jQuery Validation (.js-validation-login class is initialized in js/pages/base_pages_login.js) -->
                    <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-login form-horizontal push-30-t push-50", role = "form" }))
{
    @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                                                         @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                                        @Html.LabelFor(m => m.UserName)
                                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "help-block animated fadeInDown" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                                        @Html.LabelFor(m => m.Password)
                                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "help-block animated fadeInDown" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">

                                <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" value="true" @(Model != null && Model.RememberMe ? "checked=\"checked\"" : "") name="RememberMe" id="frontend-login-remember-me" /><span></span> Remember me
                                    <input type="hidden" value="false" name="RememberMe" />
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <button class="btn btn-block btn-primary" type="submit"><i class="si si-login pull-right"></i> Log in</button>
                            </div>
                        </div>
}
                    <!-- END Login Form -->
                </div>
            </div>
            <!-- END Login Block -->
        </div>
    </div>
</div>
<!-- END Login Content -->

               
                        



@section Scripts {
    @Scripts.Render("~/bundles/appjs")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalization")

    <!-- Page JS Code -->
<script src="~/Content/Intranet/assets/js/pages/base_pages_login.js"></script>
    <script>
        $(function () {
            // Init page helpers (Appear plugin)
            App.initHelpers('appear');
        });
    </script>
}