@model EnglishForCoachesWeb.Areas.Admin.Models.UsuarioEditGrupoViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-12">
            <h1 class="page-heading">
                <a href="@Url.Action("Index", "Usuario")">
                    Usuarios
                </a>/
                <a href="@Url.Action("Grupos", "Usuario")">
                    Grupos
                </a>/
                @Model.GrupoUsuario.Descripcion
            </h1>
        </div>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content content-narrow">

    @using (Html.BeginForm("EditGrupo", "Usuario", FormMethod.Post, new { @class = "form-horizontal push-10-t" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.GrupoUsuario.GrupoUsuarioId)
        @Html.HiddenFor(model => model.GrupoUsuario.Descripcion)


        <div class="block">
            <div class="block-content block-content-full">




                <div class="form-group">
                    <div class="col-sm-4">
                        <div class="form-material">
                            @Html.LabelFor(model => model.GrupoUsuario.NumeroMaximoUsuarios, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.GrupoUsuario.NumeroMaximoUsuarios, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GrupoUsuario.NumeroMaximoUsuarios, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="block-content block-content-full">
            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <input type="submit" name="command" value="Guardar grupo" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

<!-- END Page Content -->

