@model EnglishForCoachesWeb.Areas.Admin.Models.BloquesEditViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-12">
            <h1 class="page-heading">

                <a href="@Url.Action("Index", "Subtemas", new {id = @Model.Bloque.SubTema.TemaId })">
                    @Model.Bloque.SubTema.Tema.Descripcion
                </a>
                / <a href="@Url.Action("Index", "Bloques", new {id = @Model.Bloque.SubTema.SubTemaId })">
                    @Model.Bloque.SubTema.Descripcion
                </a> /
                Editar bloque
            </h1>
        </div>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<div class="content content-narrow">
    @using (Html.BeginForm("Edit", "Bloques", FormMethod.Post, new { @class = "form-horizontal push-10-t" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Bloque.SubTemaId)
        @Html.HiddenFor(model => model.Bloque.TipoEjercicioId)
        @Html.HiddenFor(model => model.Bloque.BloqueId)
        @Html.HiddenFor(model => model.Bloque.AreaId)

        <div class="block">
            <div class="block-content block-content-full">


                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="form-material">
                            @Html.LabelFor(model => model.Bloque.Descripcion, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Bloque.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Bloque.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="form-material">
                            @Html.LabelFor(model => model.Bloque.Explicacion, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Bloque.Explicacion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Bloque.Explicacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <h5>
                            Clientes
                        </h5>
                        @for (var j = 0; j < Model.Clientes.Count; j++)
                        {
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Clientes[j].Selected, new { id = "chk_" + j })
                                        @Html.HiddenFor(m => m.Clientes[j].Text)
                                        @Html.HiddenFor(m => m.Clientes[j].Value)
                                        <span>@Model.Clientes[j].Text</span>
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

            <div class="block-content block-content-full">
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <input type="submit" name="command" class="btn btn-default" value="Guardar" />
                    </div>
                </div>
            </div>
            }
        </div>

<!-- END Page Content -->
